//Buttons
.btn {
  display: inline-block;
  text-decoration: none;
  padding: 0.7rem 1.25rem;
  cursor: pointer;
  outline: none;
  border-radius: 0.25rem;

  &.btn-primary {
    color: $color05;
    background-color: $color11;
    border: none;
    border: 2px $color11 solid;

    &:hover {
      background: $color05;
      border: 2px $color05 solid;
      color: $color11;
    }
  }

  &.btn-secondary {
    color: $color10;
    background-color: $color06;
    border: 2px $color05 solid;
    border: none;

    &:hover {
      background-color: $color01;
      border: 2px $color06 solid;
    }
  }
}
