// Colors
$color01: #fff; //body background color
$color02: #f8f8f8;
$color03: #e0e0e0; //borders on images, vertical lines on f8f8f8 background
$color04: #75777a; //header-small left links color
$color05: #ffcf00; //main header background color
$color06: #fd8024;
$color07: #abd9ff; //header small button background
$color08: #2f67b6;
$color09: #3d3928;
$color10: #000;
$color11: #b81213;

// Font
$font-stack: 'Roboto', 'Arial', sans-serif;
